/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* =================== start ===================  */
.content .login a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: #929292;
}
.content .login a:hover{
    color: green;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
.nca{
    display: inline-block;
    margin: 0;
    width: 100%;
}
.ncontent{
    height: 56px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    width: 100vw;
}
.content{
    z-index: 100;
    height: 56px;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    background-color: rgb(255, 255, 255);
    width: 100vw;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
}
.content .nav{
    display: flex;
    max-width: 2570px;
    justify-content: space-between;
    width: 87%;
    display: flex;
    align-items: center;
    height: 50px;
}
.content span{
    display: flex;
    flex-direction: column;
    width: 30px;
    height: 4.5px;
    background-color: rgb(25, 151, 74);
    border-radius: 1.5px;
}
.content span{
    display: flex;
    margin: 5px 10px 5px 0;
}
.content .n2 li{
    margin: 0 10px;
}
.content .n2 li{
    margin: 0 5px 0 0;
}
.content .n3{
    display: flex;
    width: 100%;
}
.content .n3 button{
    border-radius: 0 8px 8px 0;
    border: 0.5px solid rgb(138, 138, 138);;
    border-left: none;
    background-color: rgb(243, 243, 243);
}
.content .n3 li{
    display: flex;
    flex-direction: row;
}
.content .n3 li{
    width: 100%;
}
.content .n3 img{
    width: 20px;
    height: auto;
}
.content .n4{
    display: flex;
    flex-direction: row;
}
.content .n4 .login{
    margin: 6px 0;
}
.content .n4 .n4img1{
    width: 40px; 
    margin: 0 5px 0 10px;
}
.content .n4 .n4img2{
    width: 40px;
    margin: 0 10px 0 5px;
}
.content .n3 input{
    display: flex;
    outline: none;
    align-items:  center;
    border-radius: 8px 0 0px 8px;
    border: 0.5px solid rgb(138, 138, 138);
    background-color: rgb(243, 243, 243);
    border-right: none;
    width: 100%;
    height: 33px;
    padding: 0 0 0 10px;
    
}
.n4kosong, .n2img2 img{
    display: none;
}
button:hover{
    cursor: pointer;
}
button img{
    display: flex;
}
.n2 .n2img1 img{
    width: auto;
}
@media screen and (max-width: 1199px) {
    .content .nav{
        width: 100%;
    }
    .content span {
        display: none;
    }
    .n4kosong{
        display: flex;
    }
    .n4 img, .login{
        display: none;
    }
}
@media screen and (max-width: 640px) {
    .content2 .grup_card{
        padding-bottom: 20px;
    }
    .content .nav{
        justify-content: space-between;
        width: 100%;
    }
    .n2 .n2img1{
        display: none;
    }
    .n2 .n2img2 img{
        display: flex;
        width: 40px;
        height: 40px;
        margin: 0 10px 0 20px;
    }
}

/* =================== .content1 ===================  */
body{
    width:100vw;
    height:100vh;
    margin:0;
    padding:0;
    overflow-x:hidden;
}
.content1{
    width:100%;
}
.hero1{
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
}
.hero1 img{
    width: 100vw;
    height: auto;
    flex-shrink: 0;
    scroll-snap-align: center;
}
.hero1{
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
}
.hero1::-webkit-scrollbar{
    display:none;
}

/* =================== .content2 ===================  */
.content2 .item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content2 .item img{
    width: 88px;
    margin: auto;
}
.content2 .item h3, h4{
    text-align: center;
}
.pembungkus{
    background-color: rgba(235, 235, 235, 0.199);
    display: flex;
    overflow-x: hidden;
    margin: auto;
    display: flex;
    justify-content: center;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pembungkus2{
    display: flex;
    overflow-x: hidden;
    margin: auto;
    display: flex;
    justify-content: center;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content2 .card_p{
    margin: 0 10px 30px;
}
.content2{
    display: flex;
    margin: 60px 0 0 0;
    justify-content: center;
    width: 87%;
}
.grup_card{
    max-width: 2570px;
    width: 100%;
    box-shadow: 0px 5.5px 12px rgba(0, 0, 0, 0.2);
    margin: 5vh auto auto;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    padding: 0 0 20px 0;
}
.content222{
    display: inline-block;
    margin-left: auto;
    width: 270px;
    height: auto;
    justify-content: center;
    align-items: center;
    background-color: rgb(65, 180, 61);
    border-radius: 5.5px 0 50px 0;
}
.content222 h2{
    margin: 10px 0;
    text-align: center;
    font-size: 1.5rem;
    color: rgb(40, 40, 40);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25;
}
.container {
    display: grid;
    grid-template-columns:  1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows:  auto;
    gap: 25px 0;
    justify-content: space-around;
    padding: 30px 0 40px 0;
}
.content2 .item h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: bold;
    margin: 4% 0;
}
.content2 .item h4{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.7rem;
    color: rgb(124, 106, 81);
}
.content2 .item:hover h3{
    color: green;
    transition: all 0.3s;
}
.content2 .item:hover{
    cursor: pointer;
}
.content2 .container img{
    animation: all 1s ease-in-out;
    transform: scale(1);
}
@keyframes zoomIn {   
    0% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1.1);
    }
}
.content2 .container img:hover{
  animation: zoomIn 1s ease-in-out infinite alternate;
}
.content2 .container img{
    animation: all 1s ease-in-out;
    transform: scale(1);
}
.content2 .container img:hover ~ .content2 h3{
  color: green;
}
@media screen and (max-width: 1199px) {
    .n2 .n2img1 img{
        width: 20vw;
    }
    .content2{
        display: flex;
        margin: 60px 0 0 0;
    }
    .content .n2img1 img{
        margin: 0 0 0 10%;
    }
    .content .n3 button{
        margin: 0 3.2vw 0 0;
    }
    .content .n3 input{
        margin: 0 0 0 20px;
    }
    .content2{
        display: flex;
        margin-top: 20px;
        justify-content: center;
        width: 98%;
    }
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
        grid-template-rows: auto;
        justify-content: space-around;
        align-content: start;
        height: auto;
        padding: 60px 0;
    }
    .grup_card{
        width:95.5%;
    }
}
    .selengkapnya h5{
        font-size: 0.8rem;
    }
@media screen and (max-width: 640px) {
    .content2 .selengkapnya h5{
        font-size: 0.8rem;
    }
    .content2{
        display: flex;
        margin: 15px 0;
        justify-content: center;
        width: 100%;
        flex-direction: column;
    }
    .container {
        max-width: 550px;
        display: flex;
        gap: 5px;
        justify-content: space-evenly;
        align-items: center;
        overflow-x: scroll;
        padding: 30px 0px;
        width: 94%;
        scrollbar-width: auto;
        margin: auto;
    }
    .container img{
        width: 80px;
        height: 80px;
    }
    .grup_card{
        width: 93.5%;
        box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
        margin: 0 auto;
        justify-content: center;
        align-items: center;
    }
    .content .n3 input{
        margin: 0;
    }
}

/* =================== .content3 ===================  */
.content3{
    display: flex;
    flex-direction: column;
    margin: 60px 0 0 0;
    justify-content: center;
    width: 87%;
    padding: 20px 0;
}
.content3 .grup_card {
    max-width: 2570px;
    width: 100%;
    margin: 0 auto;
    box-shadow: 0px 5.5px 12px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 4px 4px;
    border: 3px solid red;
    box-sizing: border-box;
}
.content3 .shell{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    display: flex;
    max-width: 2570px;
    width: 100%;
    background-color: red;
    padding-bottom: 10px;
    border-radius: 18px 18px 0 0;
    box-shadow: 0px 0 12px rgba(0, 0, 0, 0.2);
    height: 100%;
}
.content3 .shell img{
    display: flex;
    height: auto;
    margin: 10px auto;
    margin-top: -45px;
    position: relative;
}
.selengkapnya{
    display: inline-block;
    margin: auto 20px auto 0;
}
.selengkapnya h5{
    left: 20px;
    display: inline-block;
    margin: 0;
    font-size: 1.2rem;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    /* font-weight: bold; */
    letter-spacing: 0.3px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    letter-spacing: 0.1px;
}
.selengkapnya h5:hover{
    color: rgb(223, 223, 223);
    transition: all 0.3s ease-in-out;
}
.content3 .item2:hover{
    border: 0.5px solid rgba(98, 98, 98, 0.692);
}
.container3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    height: auto;
    margin: 10px;
}
.container .foto{
    width: 90%;
}
.container3 .foto img{
    width: 100%;
    height: auto;
    transition: all ease 0.6s;
}
.container3 .foto img:hover{
    transition: all ease 0.6s;
    scale: calc(1.11);
}
.container3 .deskripsi:hover{
    cursor: pointer;
    color: green;
}
.container3 .p_s{
    padding: 10px 5px;
    margin: auto;
}
.container3 .f_card, .deskripsi, .foto, .card_harga{
    margin: 1%;
    overflow: hidden;
}
.container3 .f_card{
    display: flex;
    align-items: center;
}
.container3 .f_card img{
    width: 15%;
    margin: 0 0.5%;
    margin-top: 10px;
    border-radius: 20%;
}
.container3 .deskripsi{
    height: 100%;
    line-height: clamp(1rem, 1.5vw, 2rem);
    color: rgba(0, 0, 0, 0.756);
    font-family: sans-serif, Arial, Helvetica, sans-serif;
    display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    overflow:hidden;
    text-overflow:ellipsis;
}
.container3 .item2{
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
    border: 0.5px solid rgba(0, 0, 0, 0.097);
}
.content3 .card_harga{
    margin: 0 0.5%;
    display: inline-block;
    flex-direction: column;
    
}
.content3 .card_harga .harga1{
    display: inline-block;
    margin: 10% 0 5% 0;
    width: 100%;
}
.content3 .card_harga .harga1 h4.s1{
    display: inline-block;
    font-family: sans-serif, Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: rgba(78, 78, 78, 0.857);
    text-decoration: line-through 2px solid rgba(0, 0, 0, 0.827);
    text-underline-offset: 3px;
    width: auto;
}
.content3 .perp{
    display: inline-block;
    align-items: center;
    background-color: red;
    padding: 1%;
    border-radius: 4px;
    width: fit-content;
}
.content3 .card_harga .harga1 h4.per{
    display: inline-block;
    max-width: fit-content;
    font-weight: bold;
    color: antiquewhite;
    border-radius: 8px;
    text-align: center;
    justify-content: center;
}
.content3 .card_harga .harga2{
    color: green;
    margin: 0.5px;
    font-family: sans-serif, Arial, Helvetica, sans-serif;
    display: flex;
    font-weight: bold;
    justify-content: flex-start;
}
.container3 .pli{
    margin: 5px 0 0 0;
    display: inline-block;
    width: 100%;
}
.content3 .card_harga .pli h4.ready{
    font-family: sans-serif, Arial, Helvetica, sans-serif;
    padding: 8px 8px 6px 8px;
    background-color: green;
    font-weight: bold;
    color: antiquewhite;
    border-radius: 4px;
    text-align: center;
    max-width: fit-content;

}
.content3 .card_harga .pli h4.best{
    font-family: sans-serif, Arial, Helvetica, sans-serif;
    padding: 8px 8px 6px 8px;
    background-color: rgb(83, 87, 188);
    font-weight: bold;
    color: antiquewhite;
    border-radius: 4px;
    text-align: center;
    max-width: fit-content;
}
@media screen and (max-width: 1199px) {
    .content3 .card_harga .harga1 h4.s1{
        font-size: clamp(0.5rem, 3vw, 1rem);
    }
    .content3 .card_harga .harga2{
        font-size: clamp(1rem, 4vw, 2rem);
    }
    .content3 .deskripsi{
        font-size: clamp(1rem, 1.5vw, 2rem);
    }
    .container3{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
    }
    .content3{
        margin: 0 20px;
        width: 93.8%;
        margin: 60px 0 0 0;
    }
    .content3 .shell{
        width: 100%;
    }
    .content span {
        display: none;
    }
    .n4kosong{
        display: flex;
    }
    .n4 img, .login{
        display: none;
    }
}
@media screen and (max-width: 640px) {
    .container3{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }
    .shell{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        flex-wrap:wrap;
    }
}

/* =================== .content4 ===================  */
.content4 img{
    width: 100%;
    border-radius: 3px;
}
.content4{
    display: flex;
    flex-direction: column;
    margin: 20px 0 0 0;
    justify-content: center;
    width: 87%;
    max-width: 2570px;
}
@media screen and (max-width: 1199px) {
    .content4{
        width: 93.8%;
        margin: 20px 20px 0 20px;
    }
}

/* =================== .content5 ===================  */
.content5{
    display: flex;
    flex-direction: column;
    margin: 60px 0 0 0;
    justify-content: center;
    width: 87%;
}
.content5 .grup_card {
    max-width: 2570px;
    width: 100%;
    margin: 0 auto;
    box-shadow: 0px 5.5px 12px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    box-sizing: border-box;
    padding: 0 0 40px 0;
}
.content5 .item2:hover{
    border: 0.5px solid rgb(98, 98, 98);
}
.content5 .pembungkus_card{
    margin: 0 20px;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
}
.content5 .container4 {
    width: fit-content;
    display: flex;
    height: auto;
    margin: 70px 10px 10px 10px;
}
.content5 .container4 .foto{
    width: 98%;
    margin: 0 auto;
}
.content5 .container4 .foto img{
    width: 100%;
    height: auto;
    transition: all ease 0.6s;
}
.content5 .container4 .foto img:hover{
    transition: all ease 0.6s;
    scale: calc(1.11);
}
.content5 .container4 .deskripsi:hover{
    cursor: pointer;
    color: green;
}
.content5 .container4 .p_s{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 5px;
}
.content5 .container4 .f_card, .deskripsi, .foto, .card_harga{
    margin: 1%;
    overflow: hidden;
}
.content5 .container4 .f_card{
    display: flex;
    align-items: center;
}
.content5 .container4 .f_card img{
    width: 15%;
    margin: 0 0.5%;
    margin-top: 10px;
    border-radius: 20%;
}
.content5 .container4 .deskripsi{
    height: 100%;
    line-height: 1.4rem;
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.756);
    font-family: sans-serif, Arial, Helvetica, sans-serif;
    display: -webkit-box;
        -webkit-line-clamp:3;
        -webkit-box-orient: vertical;
    overflow:hidden;
    text-overflow:ellipsis;
}
.content5 .container4 .item2{
    margin: 0 10px;
    border-radius: 15px;
    padding: 3px;
    width: 250px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.363);
    border: 0.5px solid rgba(0, 0, 0, 0);
}
.content5 .card_harga{
    margin: 0 0.5%;
    display: flex;
    flex-direction: column;
}
.content5 .card_harga .harga1{
    display: inline-block;
    margin: 20px 0 10px 0;
    align-items: center;
}
.content5 .card_harga .harga1 h4.s1{
    display: flex;
    margin: 0 10px 0 0.5%;
    font-size: 1.2rem;
    font-family: sans-serif, Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: rgba(78, 78, 78, 0.857);
    text-decoration: line-through 2px solid rgba(0, 0, 0, 0.827);
    text-underline-offset: 3px;
    width: auto;
}
.content5 .card_harga .harga1 h4.per{
    max-width: fit-content;
    margin: 0.5%;
    padding: 9px 7px 5px 7px;
    background-color: red;
    font-weight: bold;
    color: antiquewhite;
    font-size: 0.8rem;
    border-radius: 8px;
    text-align: center;
    justify-content: center;
}
.content5 .card_harga .harga2{
    color: green;
    margin: 0.5px;
    font-family: sans-serif, Arial, Helvetica, sans-serif;
    display: flex;
    font-size: 1.5rem;
    font-weight: bold;
    justify-content: flex-start;
}
.content5 .container4 .card_harga .pli{
    display: inline-block;
}
.content5 .card_harga .pli h4.ready{
    display: inline-block;
    font-family: sans-serif, Arial, Helvetica, sans-serif;
    margin: 0.5%;
    padding: 8px 8px 6px 8px;
    background-color: green;
    font-weight: bold;
    color: antiquewhite;
    font-size: 0.8rem;
    border-radius: 4px;
    text-align: center;
    max-width: fit-content;

}
.content5 .card_harga .pli h4.best{
    display: inline-block;
    font-family: sans-serif, Arial, Helvetica, sans-serif;
    margin: 0.5%;
    padding: 8px 8px 6px 8px;
    background-color: rgb(83, 87, 188);
    font-weight: bold;
    color: antiquewhite;
    font-size: 0.8rem;
    border-radius: 4px;
    text-align: center;
    max-width: fit-content;
}
.content5 .container4 .item2:hover{
    border: 0.1px solid rgba(46, 46, 46, 0.486);
}
.e{
    align-items: center;
    display: flex;
}
.e img{
    width: 33px;
    height: auto;
}
.e h4{
    color: red;
}
@media screen and (max-width: 1199px) {
    .content5 .container4 .deskripsi{
        line-height: 1.4rem;
    }
    .content5 .container4 .item2{
        width: 300px;
    }
    .content5{
        margin: 0 20px;
        width: 93.8%;
        margin: 60px 0 0 0;
    }
    .content5 .shell{
        width: 100%;
    }
    .content span {
        display: none;
    }
    .n4kosong{
        display: flex;
    }
    .n4 img, .login{
        display: none;
    }
}
@media screen and (max-width: 640px) {
    .content5 .container4 .item2{
        width: 200px;
    }
}

/* =================== .content6 ===================  */
.content6{
    display: flex;
    margin: 10px 0 0 0;
    justify-content: center;
    width: 87%;
    max-width: 2570px;
    gap: 20px;
}
.content6 .grup_card{
    display: inline-block;
    flex-direction: column;
    max-width: 2570px;
    width: 100%;
    margin: 0 auto;
    box-shadow: 0px 5.5px 12px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    box-sizing: border-box;
    padding-bottom: 25px;
    margin: auto;
    justify-content: center;
    align-items: center;
}
.content6 .grup_card{
    margin: 60px 0 0 0;
}
.content6 .grup_card2{
    margin: 60px 0 0 0;
}
.content6 .grup_card .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    max-width: 90%;
    align-items: center;
    justify-content: stretch;
    margin: auto;
    width: 100%;
}
.content6 .grup_card .container2 img{
    width: clamp(0.9rem, 7vw, 20rem);
    display: flex;
    margin: 0 auto;
    border-radius: 50%;
    margin: auto;
    max-width: 200px;
}
.content6 .grup_card .container2{
    margin: 0 25px;
    margin-top: 30px;
    display: grid;
    grid-template-columns:  1fr 1fr 1fr 1fr 1fr;
    grid-template-rows:  auto;
    gap: 25px 0;
    justify-content: space-around;
    padding: 30px 0 40px 0;
}
.grup_card2{
    max-width: 2570px;
    width: 100%;
    height: auto;
    box-shadow: 0px 5.5px 12px rgba(0, 0, 0, 0.2);
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    padding: 0 0 20px 0;
}
.content6 .grup_card2 .container3 img{
    width: 95%;
    display: flex;
    margin: 0 auto;
    border-radius: 4px;
    margin: auto;
}
.content6 .grup_card2 .container3{
    margin: 0 25px;
    margin-top: 30px;
    display: grid;
    grid-template-columns:  1fr 1fr;
    grid-template-rows:  auto;
    gap: 25px 0;
    justify-content: space-around;
    padding: 30px 0 40px 0;
}
@media screen and (max-width: 1199px) {
    .content6{
        width: 93.8%;
        margin: 20px 20px 0 20px;
    }
    .content6 .grup_card .container2{
        grid-template-columns:  1fr 1fr 1fr 1fr;
        grid-template-rows:  auto;
    }
    .content6 .grup_card .container2 img{
        width: clamp(1rem, 10vw, 20rem);
        border-radius: 50%;
    }
}
@media screen and (max-width: 990px) {
    .content6{
        flex-direction: column;
    }
    .content6 .grup_card .container2 img{
        width: clamp(4rem, 15vw, 20rem);
        border-radius: 50%;
    }
}
@media screen and (max-width: 640px){
    .content6 .grup_card2 .container3{
        grid-template-columns:  0.8fr;
        grid-template-rows:  auto;
    }
}

/* =================== .contents3 ===================  */
.contents3{
    display: flex;
    flex-direction: column;
    margin: 60px 0 0 0;
    justify-content: center;
    width: 87%;
    padding: 20px 0;
}
.contents3 .grup_card {
    max-width: 2570px;
    width: 100%;
    margin: 0 auto;
    box-shadow: 0px 5.5px 12px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 4px 4px;
    border: 3px solid orange;
    box-sizing: border-box;
}
.contents3 .shell{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    display: flex;
    max-width: 2570px;
    width: 100%;
    background-color: orange;
    padding-bottom: 10px;
    border-radius: 18px 18px 0 0;
    box-shadow: 0px 0 12px rgba(0, 0, 0, 0.2);
    height: 100%;
}
.contents3 .shell img{
    display: flex;
    height: auto;
    margin: 10px auto;
    margin-top: -45px;
    position: relative;
}
.selengkapnya{
    display: inline-block;
    margin: auto 20px auto 0;
}
.selengkapnya h5{
    left: 20px;
    display: inline-block;
    margin: 0;
    font-size: 1.2rem;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.3px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    letter-spacing: 0.1px;
}
.selengkapnya h5:hover{
    color: rgb(223, 223, 223);
    transition: all 0.3s ease-in-out;
}
.contents3 .item2:hover{
    border: 0.5px solid rgba(98, 98, 98, 0.692);
}
.container3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    height: auto;
    margin: 10px;
}
.container .foto{
    width: 90%;
}
.container3 .foto img{
    width: 100%;
    height: auto;
    transition: all ease 0.6s;
}
.container3 .foto img:hover{
    transition: all ease 0.6s;
    scale: calc(1.11);
}
.container3 .deskripsi:hover{
    cursor: pointer;
    color: green;
}
.container3 .p_s{
    padding: 10px 5px;
    margin: auto;
}
.container3 .f_card, .deskripsi, .foto, .card_harga{
    margin: 1%;
    overflow: hidden;
}
.container3 .f_card{
    display: flex;
    align-items: center;
}
.container3 .f_card img{
    width: 15%;
    margin: 0 0.5%;
    margin-top: 10px;
    border-radius: 20%;
}
.container3 .deskripsi{
    height: 100%;
    line-height: clamp(1rem, 1.5vw, 2rem);
    color: rgba(0, 0, 0, 0.756);
    font-family: sans-serif, Arial, Helvetica, sans-serif;
    display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    overflow:hidden;
    text-overflow:ellipsis;
}
.container3 .item2{
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
    border: 0.5px solid rgba(0, 0, 0, 0.097);
}
.contents3 .card_harga{
    margin: 0 0.5%;
    display: inline-block;
    flex-direction: column;
    
}
.contents3 .card_harga .harga1{
    display: inline-block;
    margin: 10% 0 5% 0;
    width: 100%;
}
.contents3 .card_harga .harga1 h4.s1{
    display: inline-block;
    font-family: sans-serif, Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: rgba(78, 78, 78, 0.857);
    text-decoration: line-through 2px solid rgba(0, 0, 0, 0.827);
    text-underline-offset: 3px;
    width: auto;
}
.contents3 .perp{
    display: inline-block;
    align-items: center;
    background-color: red;
    padding: 1%;
    border-radius: 4px;
    width: fit-content;
}
.contents3 .card_harga .harga1 h4.per{
    display: inline-block;
    max-width: fit-content;
    font-weight: bold;
    color: antiquewhite;
    border-radius: 8px;
    text-align: center;
    justify-content: center;
}
.contents3 .card_harga .harga2{
    color: green;
    margin: 0.5px;
    font-family: sans-serif, Arial, Helvetica, sans-serif;
    display: flex;
    font-weight: bold;
    justify-content: flex-start;
}
.container3 .pli{
    margin: 5px 0 0 0;
    display: inline-block;
    width: 100%;
}
.contents3 .card_harga .pli h4.ready{
    font-family: sans-serif, Arial, Helvetica, sans-serif;
    padding: 8px 8px 6px 8px;
    background-color: green;
    font-weight: bold;
    color: antiquewhite;
    border-radius: 4px;
    text-align: center;
    max-width: fit-content;

}
.contents3 .card_harga .pli h4.best{
    font-family: sans-serif, Arial, Helvetica, sans-serif;
    padding: 8px 8px 6px 8px;
    background-color: rgb(83, 87, 188);
    font-weight: bold;
    color: antiquewhite;
    border-radius: 4px;
    text-align: center;
    max-width: fit-content;
}
.contents3 .e{
    align-items: center;
    display: flex;
    margin: 15px 0 10px 0 ;
}
.contents3 .e img{
    width: 33px;
    height: auto;
}
.contents3 .e h4{
    color: red;
}
@media screen and (max-width: 1199px) {
    .contents3 .card_harga .harga1 h4.s1{
        font-size: clamp(0.5rem, 3vw, 1rem);
    }
    .contents3 .card_harga .harga2{
        font-size: clamp(1rem, 4vw, 2rem);
    }
    .contents3 .deskripsi{
        font-size: clamp(1rem, 1.5vw, 2rem);
    }
    .container3{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
    }
    .contents3{
        margin: 0 20px;
        width: 93.8%;
        margin: 60px 0 0 0;
    }
    .contents3 .shell{
        width: 100%;
    }
    .content span {
        display: none;
    }
    .n4kosong{
        display: flex;
    }
    .n4 img, .login{
        display: none;
    }
}
@media screen and (max-width: 640px) {
    .container3{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }
    .shell{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        flex-wrap:wrap;
    }
}

/* ============================ perbaikan card ============================ */
.card_harga .harga1 h4.s1 {
    margin-top: clamp(0.3rem, 1vw, 0.8rem);
    font-size: clamp(0.9rem, 1.1vw, 1.3rem);
}
.card_harga .harga2 h4 {
    display: flex;
    font-size: clamp(1.2rem, 1vw, 2.2rem);
}
.card_harga .pli h4:is(.best, .ready, .per) {
    display: inline-block;
    font-size: clamp(0.65rem, 0.9vw, 0.9rem);
}
@media screen and (max-width: 1199px) {
    .card_harga .harga1 h4.s1 {
        font-size: clamp(0.8rem, 2vw, 1.2rem);
    }

    .card_harga .harga2 h4 {
        font-size: clamp(1.1rem, 3vw, 1.8rem);
    }

    .deskripsi {
        font-size: clamp(0.9rem, 1.8vw, 1.4rem);
    }
}
@media screen and (max-width: 768px) {
    .card_harga .harga1 h4.s1 {
        font-size: clamp(0.8rem, 3vw, 1rem);
    }

    .card_harga .harga2 h4 {
        font-size: clamp(1rem, 4vw, 1.6rem);
    }

    .deskripsi {
        font-size: clamp(0.9rem, 2.5vw, 1.2rem);
    }

    .card_harga .pli h4:is(.best, .ready, .per) {
        display: inline-block;
        font-size: clamp(0.7rem, 2.5vw, 1rem);
    }
}

/* =================== .content7 ===================  */
.content7{
    display: flex;
    flex-direction: column;
    margin: 20px 0 0 0;
    justify-content: center;
    width: 87%;
    max-width: 2570px;
}
.content7 .bks{
    display: flex;
    flex-wrap: wrap;
    max-width: 2400px;
    margin: 0 auto;
    justify-content: center;
}
.content7 .bks .item img{
    display: flex;
    width: 100px;
    margin: 0;
}
.content7 .bks .item{
    display: inline-block;
}
@media screen and (max-width: 1199px) {
    .content7{
        width: 93.8%;
        margin: 20px 20px 0 20px;
    }
    .content7 .grup_card{
        width: 100%;
    }
    .content7 .bks .item img{
        width: 80px;
    }
}

/* =================== .content8 ===================  */
.content8{
    display: flex;
    margin: 20px 0 0 0;
    justify-content: center;
    width: 87%;
    max-width: 2570px;
}
.content8 .grup_card{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows:  auto;
    margin: 20px 0 40px;
    padding: 0;
    box-shadow: none;
}
.content8 .grup_card img{
    width: 21vw;
    max-width: 640px;
    margin: 1%;
    transition: all ease 0.6s;
}
.content8 .grup_card img:hover{
    transition: all ease 0.6s;
    scale: calc(1.11);
}
.contentss3 .grup_card {
    max-width: 2570px;
    width: 100%;
    margin: 0 auto;
    box-shadow: none;
}
@media screen and (max-width: 1199px) {
    .content8{
        width: 93.8%;
        margin: 20px 20px 0 20px;
    }
}
@media screen and (max-width: 640px) {
    .content8 .grup_card img{
        width: 42vw;
    }
    .content8 .grup_card{
        display: grid;
        grid-template-columns: auto auto;
    }
}

/* =================== .contentss3 ===================  */
.contentss3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 87%;
    padding: 20px 0;
}
.contentss3 .grup_card {
    max-width: 2570px;
    width: 100%;
    margin: 0 auto;
    border-radius: 0 0 4px 4px;
    box-sizing: border-box;
}
.selengkapnya{
    display: inline-block;
    margin: auto 20px auto 0;
}
.selengkapnya h5{
    left: 20px;
    display: inline-block;
    margin: 0;
    font-size: 1.2rem;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.3px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    letter-spacing: 0.1px;
}
.selengkapnya h5:hover{
    color: rgb(223, 223, 223);
    transition: all 0.3s ease-in-out;
}
.contentss3 .item2:hover{
    border: 0.5px solid rgba(98, 98, 98, 0.692);
}
.container3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    height: auto;
    margin: 0;
}
.container .foto{
    width: 90%;
}
.container3 .foto img{
    width: 100%;
    height: auto;
    transition: all ease 0.6s;
}
.container3 .foto img:hover{
    transition: all ease 0.6s;
    scale: calc(1.11);
}
.container3 .deskripsi:hover{
    cursor: pointer;
    color: green;
}
.container3 .p_s{
    padding: 10px 5px;
    margin: auto;
}
.container3 .f_card, .deskripsi, .foto, .card_harga{
    margin: 1%;
    overflow: hidden;
}
.container3 .f_card{
    display: flex;
    align-items: center;
}
.container3 .f_card img{
    width: 15%;
    margin: 0 0.5%;
    margin-top: 10px;
    border-radius: 20%;
}
.container3 .deskripsi{
    height: 100%;
    line-height: clamp(1rem, 1.5vw, 2rem);
    color: rgba(0, 0, 0, 0.756);
    font-family: sans-serif, Arial, Helvetica, sans-serif;
    display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    overflow:hidden;
    text-overflow:ellipsis;
}
.container3 .item2{
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
    border: 0.5px solid rgba(0, 0, 0, 0.097);
}
.contentss3 .card_harga{
    margin: 0 0.5%;
    display: inline-block;
    flex-direction: column;
    
}
.contentss3 .card_harga .harga1{
    display: inline-block;
    margin: 10% 0 5% 0;
    width: 100%;
}
.contentss3 .card_harga .harga1 h4.s1{
    display: inline-block;
    font-family: sans-serif, Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: rgba(78, 78, 78, 0.857);
    text-decoration: line-through 2px solid rgba(0, 0, 0, 0.827);
    text-underline-offset: 3px;
    width: auto;
}
.contentss3 .perp{
    display: inline-block;
    align-items: center;
    background-color: red;
    padding: 1%;
    border-radius: 4px;
    width: fit-content;
}
.contentss3 .card_harga .harga1 h4.per{
    display: inline-block;
    max-width: fit-content;
    font-weight: bold;
    color: antiquewhite;
    border-radius: 8px;
    text-align: center;
    justify-content: center;
}
.contentss3 .card_harga .harga2{
    color: green;
    margin: 0.5px;
    font-family: sans-serif, Arial, Helvetica, sans-serif;
    display: flex;
    font-weight: bold;
    justify-content: flex-start;
}
.container3 .pli{
    margin: 5px 0 0 0;
    display: inline-block;
    width: 100%;
}
.contentss3 .card_harga .pli h4.ready{
    font-family: sans-serif, Arial, Helvetica, sans-serif;
    padding: 8px 8px 6px 8px;
    background-color: green;
    font-weight: bold;
    color: antiquewhite;
    border-radius: 4px;
    text-align: center;
    max-width: fit-content;

}
.contentss3 .card_harga .pli h4.best{
    font-family: sans-serif, Arial, Helvetica, sans-serif;
    padding: 8px 8px 6px 8px;
    background-color: rgb(83, 87, 188);
    font-weight: bold;
    color: antiquewhite;
    border-radius: 4px;
    text-align: center;
    max-width: fit-content;
}
.contentss3 .e{
    align-items: center;
    display: flex;
    margin: 15px 0 10px 0 ;
}
.contentss3 .e img{
    width: 33px;
    height: auto;
}
.contentss3 .e h4{
    color: red;
}
.contentss3 .hello .so{
    height: 1px;
    background-color: rgb(65, 65, 65);
    width: 100%;
}
.contentss3 .hello p{
    margin-top: -13px;
    background-color: rgb(255, 255, 255);
    padding: 0 20px;
    color: rgb(46, 46, 46);
    font-size: 1.2rem;
}
.contentss3 .hello{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
}
@media screen and (max-width: 1199px) {
    .contentss3 .card_harga .harga1 h4.s1{
        font-size: clamp(0.5rem, 3vw, 1rem);
    }
    .contentss3 .card_harga .harga2{
        font-size: clamp(1rem, 4vw, 2rem);
    }
    .contentss3 .deskripsi{
        font-size: clamp(1rem, 1.5vw, 2rem);
    }
    .container3{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
    }
    .contentss3{
        margin: 0 20px;
        width: 93.8%;
    }
    .contentss3 .shell{
        width: 100%;
    }
    .content span {
        display: none;
    }
    .n4kosong{
        display: flex;
    }
    .n4 img, .login{
        display: none;
    }
}
@media screen and (max-width: 640px) {
    .container3{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }
}
/* =================== .contentp ===================  */
.contentp{
    display: flex;
    flex-direction: column;
    margin: 20px 0 20px 0;
    justify-content: center;
    width: 87%;
    max-width: 2570px;
    margin: 40px 0 40px 0;
}
.contentp .lk{
    margin: 0 30px;
}
.contentp h3{
    font-size: 1rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 0 10px 0;
}
.contentp p{
    color: rgb(54, 54, 54);

    font-size: 0.8rem;
    line-height: 15px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 0 9px 0;
}
@media screen and (max-width: 1199px) {
    .contentp{
        width: 93.8%;
        margin: 20px 20px 0 20px;
    }
}

/* ================= */
.shuu{
    width: 100vw;
    height: 5px;
    background-color: green;
}
/* ================= */

/* ================= footer ================= */
.footer{
    display: flex;
    flex-direction: column;
    margin: 20px 0 0 0;
    justify-content: center;
    width: 87%;
    max-width: 2570px;
}
.footer .item{
    margin-bottom: 35px;
}
@media screen and (max-width: 1199px) {
    .footer{
        width: 93.8%;
        margin: 20px 20px 0 20px;
    }
}
.footer .container {
    margin: 0 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px 10px;
}

.footer .grup_card {
    max-width: 2570px;
    width: 100%;
    margin: 0 auto;
    box-shadow: none;
    box-sizing: border-box;
}

.footer .item h3{
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 0 0 20px 0;
}
.footer p{
    display: flex;
    color: rgb(54, 54, 54);

    font-size: 0.8rem;
    line-height: 15px;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto 0 auto 0;
    align-items: center;
}
.footer svg{
    height: 18px;
    margin-right: 7px;

}
.footer .testp{
    display: flex;
    margin: 10px 0 0 0;
    align-items: center;
}
.footer .item img.jne{
    width: 80px;
    height: auto;
}
.footer .item img.yt{
    width: 35px;
    height: auto;
}
.footer .item img.apk{
    width: 160px;
    height: auto;
}
.footer .item h3.media{
    margin-top: 20px;
}
.footer h2.k{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 45px 0 10px 0 ;
}
.gk_tau_nama{
    display: none;
}
.gk_tau_nama .content10{
    display: none;
}
.gk_tau_nama .content10 .grup_card{
    display: none;
}
.gk_tau_nama .content10 .grup_card .item3{
    display: none;
}
.gk_tau_nama .content10 .grup_card .item3 :is(svg, p){
    display: none;
}
.kosongan1{
    display: none;
    height: 61.8px;
    width: auto;
}
@media screen and (max-width: 1199px) {
    .kosongan1{
        display: flex;
    }
    .gk_tau_nama{
        display: inline;
    }
    .gk_tau_nama .content10{
        display: flex;
    }
    .gk_tau_nama .content10 .grup_card{
        display: flex;
    }
    .gk_tau_nama .content10 .grup_card .item3{
        display: flex;
    }
    .gk_tau_nama .content10 .grup_card .item3 :is(svg, p){
        display: flex;
    }
    .footer .container {
        grid-template-columns: 1fr 1fr;
    }
    .gk_tau_nama{
        padding: 7px 0;
    }
    .gk_tau_nama .content10 .grup_card{
        box-shadow: none;
        display: flex;
        justify-content: space-evenly;
        max-width: 1120px;
        margin: auto;
        padding: 0;
    }
    .gk_tau_nama .content10 .grup_card .item3{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .gk_tau_nama p{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 0.8rem;
    }
    .gk_tau_nama svg{
        width: 30px;
        margin-bottom: 5px;
    }
    .gk_tau_nama{
        position:fixed;
        bottom:0;
        left:0;
        width:100%;
        background:#ffffff;
        text-align:center;
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
        z-index: 1;
    }
    #d{
        color: green;
    }
}
@media screen and (max-width: 640px) {
    .footer .container {
        grid-template-columns: 1fr;
    }
}


.batas{
    display: flex;
    margin: 0 auto;
    max-width: 2370px;
}

.login_content{
    background-color: #ffffff;
    display: flex;
    align-items: center;
    /* flex-direction: column; */
    flex-direction: column;
    /* justify-content: center; */
    width: 430px;
    height: 600px;
    /* background-color: green; */
    max-width: 90vw;
    box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.2);
    margin: 40px 0 90px 0;
}

.login_content .card_login{
    display: flex;
    align-items: center;
    flex-direction: column;
    /* flex-direction: column; */
    /* justify-content: center; */
    /* background-color: green; */
    /* background-color: aqua; */
    width: 80%;
    /* height: 100%; */
    /* margin: 0 20px; */
}
.login_content .card_login input{
    width: 94.5%;
    padding: 0 2.2%;
    height: 38px;
    outline: none;
}
.login_content .card_login .button{
    width: 100%;
    height: auto;
}
.login_content .card_login .button button{
    width: 100%;
    height: 40px;
    border-radius: 4px;
    background-color: rgba(0, 128, 0, 0.774);
    border: none;
    /* color: #ffffff; */
    font-size: 0.9rem;
    font-weight: 500;
}
.login_content .card_login .button button:hover{
    background-color: rgb(0, 0, 0);
    color: #ffffff;
}
.pw{
    display: flex;
    width: 100%;
}
.pw input{
    width: 80%;
    border-right: none;
    margin: 20px 0;
    border-color: rgb(151, 150, 148);
    border-radius: 3px 0 0 3px;
    border-width: 0.5px;

}
.pw button{
    border-width: 0.5px;
    margin: 20px 0;
    width: 20%;
    border-radius: 0 3px 3px 0;
    border-left: none;
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(0.6rem, 1.5vw, 0.8rem);
    border-color: rgb(151, 150, 148);
    color: blue;
}
.pw button:hover{
    color: green;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-top: 45px; */
}
.login_content img{
    width: 50%;
    margin: 40px auto 10px auto;
}
.login_content h2{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 40px;
    font-size: clamp(0.8rem, 1.5vw, 1rem);
}
.nav2{
    background-color: rgb(248, 248, 248);
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    padding: 13px 0;
    color: #929292;
}
.nav2 a{
    margin-left: 10px;
    text-decoration: none;
    color: #696969;
}
.nav2 a:hover{
    color: green;
}
.login_content .c{
    display: flex;
    width: 100%;
    /* background-color: aqua; */
    margin: 0 0 20px 0;
    align-items: center;
}
.login_content .c input{
    margin-right: 15px;
    width: 20px;
    border: 0.5px solid black;
}
.login_content .c label{
    font-family: Arial, Helvetica, sans-serif;
}
.login_content h4{
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    font-size: clamp(0.8rem, 1vw, 1rem);
}
.login_content h4 a{
    text-decoration: none;
    color: blue;
    font-size: 0.91rem;
}
.login_content h4 a:hover{
    color: green;
}